<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seiko.player">
    <application>
        <!--播放器中介-->
        <activity
            android:label="@string/player_app_name"
            android:name=".ui.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="fullSensor">
        </activity>
    </application>
</manifest>
