<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seiko.player">
    <application>

        <!--中转-->
        <activity
            android:name=".ui.StartActivity"
            android:label="@string/player_app_name"
            android:theme="@style/Theme.VLC.Transparent.NoUI">
        </activity>

        <!--媒体库-->
        <activity android:name=".ui.media.MediaActivity"
            android:theme="@style/Theme.VLC.TV"/>

        <!--播放器-->
        <activity
            android:name=".ui.video.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.VLC.Player"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <service android:name=".service.PlaybackService"/>

    </application>
</manifest>
