<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seiko.player">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/> <!-- USe foreground services -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/> <!-- normal -->

    <application>

        <!--中转-->
        <activity
            android:name=".ui.StartActivity"/>

        <!--媒体库-->
        <activity android:name=".ui.MediaActivity"/>

    </application>
</manifest>
