<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seiko.tv">

    <!--语音-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application>
        <!--主界面-->
        <activity android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:theme="@style/DanDanTvTheme.Browse"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".ui.search.SearchActivity"
            android:exported="true"
            android:theme="@style/DanDanTvTheme.Search"/>

        <activity android:name=".ui.area.BangumiAreaActivity"
            android:exported="true"
            android:theme="@style/DanDanTvTheme.Browse"/>

        <activity android:name=".ui.bangumi.BangumiFavoriteActivity"
            android:exported="true"
            android:theme="@style/DanDanTvTheme.VerticalGrid"/>

        <activity android:name=".ui.bangumi.BangumiHistoryActivity"
            android:exported="true"
            android:theme="@style/DanDanTvTheme.VerticalGrid"/>

        <activity android:name=".ui.bangumi.BangumiTimeLineActivity"
            android:exported="true"
            android:theme="@style/DanDanTvTheme.Browse"/>

        <activity android:name=".ui.bangumi.BangumiDetailsActivity"
            android:exported="true"
            android:theme="@style/DanDanTvTheme.Details"/>
    </application>

</manifest>