<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seiko.tv">

    <!--语音-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application>
        <!--主界面-->
        <activity android:name=".ui.MainActivity"
            android:theme="@style/DanDanTvTheme"
            android:exported="true"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>
    </application>

</manifest>