<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seiko.module.torrent">
    <application>
        <activity
            android:name=".ui.TorrentMainActivity"
            android:screenOrientation="fullSensor"/>

        <service
            android:name=".service.TorrentTaskService"/>
    </application>
</manifest>
