<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seiko.module.torrent">

    <!--存储-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="debug.App"
        android:allowBackup="true"
        android:label="@string/torrent_app_name"
        android:supportsRtl="true"
        android:theme="@style/torrent_BaseTheme">
        <activity android:name=".ui.TorrentMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <service android:name=".services.TorrentTaskService"/>
    </application>
</manifest>