<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seiko.torrent">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/torrent_app_name"
        android:supportsRtl="true"
        tools:ignore="AllowBackup,MissingApplicationIcon">

        <activity android:name=".ui.TorrentMainActivity"
            android:theme="@style/torrent_BaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.TorrentTaskService"/>

    </application>
</manifest>